body {
    background-color: black;
    background-image: url(../../images/bg.png);
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.character-select {
    max-width: 1360px;
    display: flex;
    flex-wrap: wrap;
}

.characters {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 0.2fr);
}

.character-list {
    width: 620px;
    padding: 50px;
}

.character img {
    width: 100px;
    height: 100px;
}

.characters li {
    background-color: aqua;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

button {
    cursor: pointer;
}

button:hover {
    box-shadow: 3px 2px 20px rgb(223, 5, 5);
    transform: scale(1.1);
}

.character-preview {
    display: flex;
    flex-direction: column;
}

.character-preview img {
    display: none;
    padding-top: 20px;
    width: 500px;
    height: 500px;
}